.cover__background {
  text-decoration: none;
  transition: opacity .6s linear;
}

.cover__background::after {
  background-color: #2a2c2f;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .3;
  transition: .6s ease;
  z-index: 0;
}

.cover__background:hover::after {
  opacity: .8;
}